<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.pitt.cs.cs1631.g16.votingsoftware.inputprocessorcomponent">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <application>
        <service
            android:name=".InputProcessorService"
            android:enabled="true"
            android:exported="true">
        </service>
    </application>

</manifest>